.main{
    display: flex;
    justify-content: center;
}

.div1-style{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    color: palevioletred;
    position: relative;
}

.div2-style{
    background-color: cornflowerblue;
    width: 300px;
    height: 300px;
    color: black;
    position: absolute;
    left: 50px;
    top: 50px;
}