.main{
    position: relative;
}

.div1-style{
    background-color: blanchedalmond;
    width: 200px;
    height: 200px;
    color: black;
}

.div2-style{
    background-color: crimson;
    width: 200px;
    height: 200px;
    color: aliceblue;
    position: relative;
    bottom: 100px;
    left: 100px;
}